@media (min-width:768px) {
    .conteiner{
    max-width: 768px;
    }
    /*--PORTFOLIO LIST----*/
    .portfolio-list-first{
    display: flex;
    flex-wrap: wrap;
    }
    .portfolio-hover-animation{

    }
    section {
        padding: 96px 0;
    }
    .portfolio-list {
    }
    /* .portfolio-list:nth-child(2n){
      margin-right: 0;
    } */
/*----TEAM---*/
.team-list {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}
.portfolio-hover-animation{
}
.customers-list{
}
.portfolio-animation-paragraph{
  display: none;
}
/*---HERO----*/
.hero-title{
    font-size: 56px;
    width: 496px;
    height: 120px;
    margin-bottom: 40px;
}
.hero{
    background-color: unset;
    background-image: unset;
}
.hero-decor{
    background-color: #2e2f42;
    background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
),
url(../images/dekor/bg-tablet.jpg);
background-repeat: no-repeat;
background-size:cover;
background-position: center;
min-width: 768px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url('../images/dekor/Adaptiv-pictures-2x/bg-tablet2x.jpg'),
    linear-gradient(
rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)),;
  }
}
/*---REVIEWS----*/
.review-paragraph{
    flex-wrap: wrap;
}
.up-block {
    display: flex;
    gap: 40px;
  }
  .navigation-list {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .up-contacts {
    display: block;
    align-items: center;
    margin-right: auto;
    flex-wrap: wrap;
  }
  .contacts-mail {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 12px;
  }
  .contact {
    color: #434455;
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-phone {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .subscribe-section{
    margin: 0;
  }
  .navigation {
    margin-left: 118px;
  }
  .btn-bacdrop-mobile{
    display: none;
  }
  .div-navigation-main{

  }
  .div-navigation-contacts{
    display: block;
    margin-left: auto;
  }
  /*---------------------*/
  .review-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: none;
    gap: 24px;
}
.review-list:nth-child(2n){
  gap: 0;
}
.reviews-title{
justify-content: flex-start;
margin-bottom: 8px;
}
.reviews-paragraph{
  max-height: 72px;
  max-width: 356px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.reviews-paragraph:nth-last-child(n+2){
  margin-bottom: 0;
}
.reviews-people{
  margin-bottom: 72px;
  max-width: 356px;
  max-height:120px;
}
.reviews-people:nth-last-child(-n+2){
  margin-bottom: 0;
}
.reviews-people:nth-child(2n){
  margin-right: 0;
}
.conteiner-tublet{
}
/*-------FOOTER--------*/
.input-subscribe{
  width: 264px;
}
.div-subscribe{
flex-direction: row;
}
.subscribe-title{
}
.conteiner-tublet {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding-left: 108px;
  list-style-type: none;
}
.footer-div{
  margin: 0;
}
.logo-footer{
  display: flex;
  justify-content: flex-start;
}
.footer-paragraph{
  justify-content: flex-start;
}
.footer-social{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer-social-paragraph{
  justify-content: flex-start;
}
.subscribe-section{
  
}
.subscribe-title{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
/*-------PORTFOLIO----------*/
.portfolio-height{
  height: auto;
width: 356px;
}
.div-second-page{
  max-width: 356px;
}
.portfolio-list{
  max-width: 356px;
}
.portfolio-list:nth-child(2n+1){
  margin-right: 24px;
}
/*------------------*/
.button-list-div{
  display: flex;
}
.customers-list{
  max-width:768px;
}
.img-portdolio-first{
  max-width: 356px;
  height: 300px;
}
}